<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WonderStay</title>
</head>
<body>
  <h3>Create New Listing</h3>
  <form method="POST" action="/listings">
    <input type="text" placeholder="Enter title" name="listing[title]">
    <br>
    <textarea name="listing[description]" placeholder="Enter description"></textarea>
    <br>
    <input type="text" placeholder="Enter image url" name="listing[image]">
    <br>
    <input type="number" placeholder="Enter Price" name="listing[price]">
    <br>
    <input type="text" placeholder="Enter Country name" name="listing[country]">
    <br>
    <input type="text" placeholder="Enter location" name="listing[location]">
    <br>
    <button>Add </button>
  </form>
</body>
</html>